<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="parent(content, title)">
<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}">Base</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-white text-black dark:bg-gray-800 dark:text-white">
    <!-- Place all you base content here -->
  <div data-th-replace="~{navbar}"></div>
    <section data-th-replace="${content}"></section>
    <footer>
        <ul>
            <li>&copy; 2025 Caller. All rights reserved.</li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
</body>
</html>