<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="parent(content, title)">
<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}">Base</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body m-0 p-0>
  <div data-th-replace="~{navbar}"></div>
    <p class="bg-amber-400">This is base</p>
    <section data-th-replace="${content}"></section>
    <footer>
        <ul>
            <li>copyright 2003</li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>